div {
  display: block;
  width: 100%;
}

.carousel {
  margin-left: 0;
  margin-right: 0;
}

.icon {
  width: 64px;
}

.media {
  margin-top: 15px;
}

.center-text {
  display: block;
  text-align: center;
}

.section {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 0;
  margin-right: 0;
}

.grid-item {
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}