.center-horizontal {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a[data-react-toolbox='button'] {
  @extend .center-horizontal;
}

.img-responsive {
  @extend .center-horizontal;
  max-width: 100%;
  height: auto;
}

img.logo {
  @extend .img-responsive;
  width: 100px;
}

div.logo {
  @extend .center-horizontal;
  display: block;
}

.center-text {
  @extend .center-horizontal;
  text-align: center;
}

header {
  margin-bottom: 30px;
}